body {
  position: relative;
  text-align: center;
}

header {
  font-family: 'Syne Mono', monospace;
  font-size: 5em;
  text-align: center;
}

.score-div {
  font-family: 'Syne Mono', monospace;
  display: flex;
  justify-content: space-around;
}

.gameboard {
  border: 1px solid black;
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#game div {
  border: 1px solid black;
  border-radius: 4px;
  height: 10em;
  width: 7em;
  margin: 10px;
  display: inline-block;
  flex-basis: 15%;
}

.red.show {
  background-color: red;
}

.yellow.show {
  background-color: yellow;
}

.indigo.show {
  background-color: indigo;
}

.violet.show {
  background-color: violet;
}

.blue.show {
  background-color: blue;
}

.green.show {
  background-color: green;
}

.orange.show {
  background-color: orange;
}

.purple.show {
  background-color: purple;
}

.pink.show {
  background-color: pink;
}

.teal.show {
  background-color: teal;
}

.incomplete {
  display: none;
}

.card {
  background-image: url("https://i.pinimg.com/236x/27/af/61/27af615279f62ae1e9b6394c896f7922--card-tattoo-playing-cards.jpg");
  background-size: cover;
  background-position: center;
}

#start {
  position: absolute;
  font-size: 3em;
  top: 10vh;
  left: 0%;
  width: 100%;
  height: 90vh;
  margin: 0px;
  visibility: hidden;
}


#restart {
  width: 15vw;
  background-color: blue;
  color: white;
  font-size: 3em;
}